body{
    margin: 0px;
    background-color: rgb(167, 164, 162);
}
.container{
  width:1000px;
  height: auto;
  margin: 0px auto;
  box-shadow: rgb(54, 135, 216) 5px;
 
}

.nav{
    width:inherit ;
    height: 40px;
    background-color:eb722b;
    position: relative;
    
}
.nav h4{
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    font-variant-caps: all-petite-caps;
    margin: 0px;
    padding: 0px;
    word-spacing: 20px;


}

.logo{
    margin-top: 5px;
    position: absolute;
    left:475px;

}
.header{
    width: inherit;
    height: 310px;
    background-color: 675c58;
    position: relative;
    
}
.header h2{
    font-size: 2.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(241, 233, 233);
    font-weight: bold;
    text-align: center;
    font-variant-caps: all-petite-caps;
    margin: 0px;
    padding: 10px;
    /* word-spacing: 20px; */
}
.header h3{
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(221, 205, 205);
    font-weight: normal;
    text-align: center;
    font-variant-caps: all-petite-caps;
    margin: 0px;
    /* margin-top: -59px; */
    padding: 0px;
    /* position: absolute;
    left:298px; */
}
.header hr{
    width: 350px;
    height: auto;
    color:  rgb(156, 141, 141);
    text-align: center;
}
.header p{
    font-size: 0.8em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(221, 205, 205);
    
    text-align: center;
    font-variant-caps: all-petite-caps;
    margin-bottom: -10px;
    padding: 5px; 
     /* margin-top: 9px;
     position: absolute;
     left: 440px;
     padding: 5px; */
    
   
}
.header h4{
    font-size: 2.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(238, 230, 230);
    font-weight: lighter;
    text-align: center;
    font-variant-caps: all-petite-caps;
    margin-top: 0px;
    /* margin-top: -59px;
    padding: 0px;
    position: absolute;
    left:298px; */
}
.header button{
   background-color: eb722b;
   font-variant-caps: all-petite-caps;
   color: aliceblue;
   text-align: center;
   font-weight: lighter;
   font-size: 1em;
   width: 120px;
   height: 40px;
   border: 0px;
   position: absolute;
   left: 450px;
}
.regDate{
    width: inherit;
    height: 180px;
    background-color:6b6c67;
    position: relative;

}
.regDate p{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: normal;
    text-align: center;
    font-variant-caps: all-petite-caps;
    margin-top: 30px;
    padding: 5px;
    position: absolute;
    letter-spacing: 1px;
    left:425px;

}
.regDate h1{
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(223, 211, 211);
    font-weight: lighter;
    text-align: center;
    font-variant-caps: all-petite-caps;
    margin-top: 50px;
    padding: 0px;
    word-spacing: 55px;
    position: absolute;
    left:345px;


}
.regDate h6 {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(184, 173, 173);
    font-weight: lighter;
    text-align: center;
    font-variant-caps: all-petite-caps;
    margin-top: 100px;
    padding: 0px;
    word-spacing: 55px;
    position: absolute;
    left:342px;


}
.featureGuest{
    width: inherit;
    height: 480px;
    background-color:f7f7f7;
    position: relative;
}
.featureGuest img{
    position: absolute;
    left: 30px;
    margin-top: 75px;
    width: 585px;
    height: 330px;
    float: left;
    
}
.featureGuest h1{
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(98, 107, 116);
    text-transform: uppercase;
    word-break: break-all;
    position: absolute;
    left: 630px;
    margin-top: 75px;
  
    
}
.featureGuest h4{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(121, 129, 138);
    word-break: break-all;
    position: absolute;
    left: 635px;
    margin-top: 155px;  
}
.featureGuest p{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(121, 129, 138);
    word-break: break-all;
    position: absolute;
    left: 635px;
    line-height: 1.3em;
    margin-top: 195px;
    padding: 5px;
    overflow: hidden;  
}
.testimonials{
    width: inherit;
    height: 500px;
    background-color: 768089;
    position: relative;
}

.testimonials h4{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(216, 221, 226);
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    word-spacing: 5px;
    left: 400px;
    margin-top:50px;
    
   
}
.testimonials p{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(216, 221, 226);
    width: 455px;
    text-align: center;
    position: absolute;
    word-spacing: 5px;
    left: 310px;
      margin-top: 90px;  
}
.exclusiveTraining{
    width: inherit;
    height: 150px;
    background-color: f7f7f7;
    
}
.footer{
    width: inherit;
    height: 100px;
    background-color:6b6b6b;
}